*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

header {
	position: static;
	background: #ccc;
	padding: 25px;
	width: 100%;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

ul {
	text-decoration: none;
}

li,
a {
	list-style-type: none;
	margin: 0 2rem;
	text-transform: capitalize;
	color: indigo;
	text-decoration: none;
	padding: 0 20px;
}

li:hover {
	color: hotpink;
}

main {
	margin-top: 5rem;
	background: cadetblue;
	display: flex;
	min-height: 100vh;
	padding: 10px;
	margin: 0 auto;
}

.success {
	border: 2px solid green;
	padding: 10px 0;
	background: #ccc;
	border-radius: 5px;
	margin-bottom: 5px;
}

.error {
	border: 2px solid red;
	padding: 10px 0;
	background: #ccc;
	border-radius: 5px;
	margin-bottom: 5px;
}
